body {
	text-align: center;
}
nav {
	height: 1.5em;
	background-color: slategray;
	margin-bottom: 3px;
}
a {
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	height: 1.5em;
	vertical-align: middle;
	padding-top: .4em;
	background-color: lightgray;
}
a:hover {
	background-color: grey;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
td, th {
	border: 1px solid #DDDDDD;
	padding: 8px;
}
td input {
	width: 100%;
	margin: 0;
}
td.input {
	padding: 0;
}

td.text {
	text-align: left;
}
tr:nth-child(even) {
	background-color: #DDDDDD;
}
dialogue {
	color: red;
}


