body {
	text-align: center;
	font-family: sans-serif;
}
nav input[type="submit"] {
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	height: 3em;
	vertical-align: middle;
	background-color: lightgray;
	margin-bottom: .5em;
	border: none;
}
nav input[type="submit"]:hover {
	background-color: grey;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
td, th {
	border: 1px solid #DDDDDD;
	padding: 8px;
}
td input, select {
	width: 100%;
	margin: 0;
}
td.input {
	padding: 0;
}
td.text {
	text-align: left;
}
tr:nth-child(even) {
	background-color: #DDDDDD;
}
#errorMessage {
	color: darkred;
}